* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #ffffff;
}

.nav_bar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 1.5rem;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    background-color: #2aa1ff;
}


.items_bar{
        display: flex;
        justify-content:flex-start;
        gap: 2rem;
    }
    
.items_text {
        color: white;
    }

.search_bar {
    display: flex;
    justify-content: flex-end;
    border: none;
    overflow: hidden;
    max-width: 300px;
    margin: 0 auto;
    border: 1px solid white;
    width: 400px;
    height: 30px;
  }
  
  .search_bar input[type="text"] {
    flex: 1;
    padding: 10px;
    outline: none;
    background-color: transparent;
    color: white;
    border: none;
  }

  .search_bar input[type="text"]::placeholder {
    color: white; /* Cambia el color del placeholder a gris claro (#ccc) */
  }
  
  .search_bar button {
    background-color:transparent;
    border: .5px solid white;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
  }
  
  .search_bar button i {
    font-size: 18px;
    color: white;
  }

  .barra_bar{
    display: flex;
    justify-content: center;
    position: relative;
    top: 80px;
  }

  .container_principal{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 500px;
    margin-top: 150px;
  }

  .imagen_container{
    position: relative;
    top: -90px;
  }

.pc_imagen{
  width: 700px;
}

.titulo1_container{
  position: relative;
  top: -100px;
  left: 100px;
}

.titulo{
  color: #2aa1ff;
  font-size: 2.5rem;
}

.texto_uno{
  color: gray;
}

.button1{
  border: none;
  width: 100px;
  height: 30px;
  background-color: #2aa1ff;
  color: white;
  font-size: .9rem;
  border-radius: 20px;
}

.titulo2_container{
  position: relative;
  top: 80px;
}

.titulo_dos{
  color: #2aa1ff;
}

.texto_dos{
  color: gray;
}

.button2{
  border: none;
  width: 100px;
  height: 30px;
  background-color: #2aa1ff;
  color: white;
  font-size: .9rem;
  border-radius: 20px;
}
